*.sln
*.ipch
*.tlog
*.pdb
*.user
*.filters
*.idb
*.cache
*.log
*.pch
*.obj
*.vcxproj
*.vsmacros
MyFirstC++Project/MyFirstC++Project/stdafx.h
*.h
*.unsuccessfulbuild
*.sdf
*.suo
*.lastbuildstate
MyFirstC++Project/MyFirstC++Project/stdafx.cpp
*.ilk
*.exe
*.res
AcceleratedCpp/AcceleratedCPP/Debug/AcceleratedCPP_manifest.rc
*.manifest
*.opensdf
